- provide :title, 'Account'
- content_for :body_class, "account_page"

.container
  %h1
    Account Settings
  %hr
  .row.account-settings
    .col-sm-6.col-md-6.col-lg-6
      %h2 
        Current Information 

      .row
        %p
          .col-xs-6.col-sm-6.col-md-6.col-lg-6
            %b
              Username/Email:
          .col-sm-6.col-md-6.col-lg-6.pull-left
            = current_user.email
      .row
        %p
          .col-xs-6.col-sm-6.col-md-6.col-lg-6
            %b
              Real Name:
          .col-xs-6.col-sm-6.col-md-6.col-lg-6
            - if current_user.name
              current_user.name
              = link_to "Edit", "#", :class => "label label-warning", :id => "name-edit-button"
            - else
              = link_to "Add", "#", :class => "label label-warning", :id => "name-edit-button"
      .row
        %p
          .col-xs-6.col-sm-6.col-md-6.col-lg-6
            %b
              Location:
          .col-xs-6.col-sm-6.col-md-6.col-lg-6
            - if current_user.location
              current_user.location
              = link_to "Edit", "#", :class => "label label-warning"
            - else
              = link_to "Add", "#", :class => "label label-warning"





    .col-sm-6.col-md-6.col-lg-6
      %h2
        Edit Information
      = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => "form-horizontal", :role => "form", :method => :put }) do |f|
        = devise_error_messages!

        .form-group
          = f.label :email, :class => "control-label col-sm-3"
          .col-sm-7
            = f.email_field :email, :class => "form-control", :autofocus => true
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %div
            Currently waiting confirmation for:
            = resource.unconfirmed_email

        .form-group
          = f.label :new_password, :class => "control-label col-sm-3"
          .col-sm-7
            = f.password_field :new_password, :class => "form-control", :placeholder => "Password", :autocomplete => "off"

        .form-group
          = f.label :new_password_confirmation, :class => "control-label col-sm-3"
          .col-sm-7
            = f.password_field :new_password_confirmation, :class => "form-control", :placeholder => "Confirm Password"

        .form-group
          = f.label :current_password, :class => "control-label col-sm-3"
          .col-sm-7
            = f.password_field :current_password, :class => "form-control", :placeholder => "Current Password"

        .form-group
          .col-sm-offset-3.col-sm-7
            = f.submit "Update", :class => "btn btn-block btn-warning c2a-large"

  .row
    %h3
      Danger Zone
    .danger-zone
      %p
        Unhappy?
        = button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "You will lose all of your account data. This cannot be undone. Are you sure?" }, :class => "btn btn-danger", :method => :delete

    = link_to "Back", :back
