.jumbotron.text-center
  .container
    .col-sm-12
      %h1.text-center
        Wasting food sucks. Wasting money sucks more.
      %br
      .col-sm-6.col-sm-offset-3
        %h3
          Incense keeps track of perishable foods in your fridge (or cabinet, or kitchen) and alerts you when something is about to spoil.
        %h3
          Never waste food or money again.
    .clearfix
    .btn.btn-warning.c2a-large#block-signup-button
      Sign up for free

    .sign-up-form
      = form_for(:user, :url => registration_path(:user), :html => { :class => "form-horizontal form", :role => "form", :style => "opacity:0;filter:alpha(opacity=0);" }) do |f|

        .form-group
          = f.label :email, :class => "control-label col-sm-3"
          .col-sm-7
            = f.email_field :email, :class => "form-control", :placeholder => "Email", :autofocus => true

        .form-group
          = f.label :password, :class => "control-label col-sm-3"
          .col-sm-7
            = f.password_field :password, :class => "form-control", :placeholder => "Password"

        .form-group
          = f.label :confirm_password, :class => "control-label col-sm-3"
          .col-sm-7
            = f.password_field :confirm_password, :class => "form-control", :placeholder => "Confirm Password"

        .form-group
          .col-sm-offset-3.col-sm-7
            = f.submit "Sign up", :class => "btn btn-block btn-warning c2a-large"

    .instructions
      .container.text-center
        = render :partial => "landing_page/section_feature_thumbnails"


%section
  .container


%section
  .container