- provide :title, 'Home'
- content_for :body_class, "landing_page"

- if user_signed_in?
  .container
    .row
      .col-sm-12.col-md-12.col-lg-12
        %h1
          Dashboard
    %hr
    .row
      .col-sm-7.col-md-7.col-lg-7
        %h3
          Current Items
        #current-inventory
          - if @inventory_items.present?
            - @inventory_items.each do |i|
              - @name =  i.name
              - @expiration = i.expiration.strftime( "%-m/%-d/%Y" )
              = render "inventory/inventory_item", :locals => { @name => @name, @expiration => @expiration, @classification => @classification_id }
          - else
            %p.gray_light
              <i>Add an item to the right to get tracking</i>



      .col-sm-5.col-md-5.col-lg-5
        - if flash[:notice]
          .alert.alert-warning.text-center.alert-dismissable
            %button{ :class => "close", :data => { :dismiss => "alert" } } 
              x
            = flash[:notice]
        %h3
          Add an item to track
        .col-sm-12.col-md-12.col-lg-12.add-item
          = form_for(@item, :url => add_item_path, :html => { :class => "form-horizontal add-item-form", :role => "form" } ) do |f|
            .form-group
              = f.label :name, :class => "control-label sr-only"
              = f.text_field :name, :class => "form-control", :placeholder => "Item Name", :autofocus => true, :maxlength => 40
            .form-group
              = f.label :expiration, :class => "control-label sr-only"
              .h4like 
                Expiration Date
              %p.help-block
                <i>MM/DD/YYYY</i>
              = f.date_select :expiration, :order => [:month, :day, :year], :include_blank => true, :use_short_month => true, :start_year => Time.now.year, :end_year => Time.now.year + 9, :html => { :class => "form-control" }
            .form-group
              .h4like 
                Classification (Optional)
              = f.label :classification_id, :class => "control-label sr-only"
              = f.select :classification_id, options_for_select(@classifications.name), :include_blank => true, :html => { :class => "form-control" }
            .form-group
              = f.submit "Add Item", :class => "btn btn-block btn-warning c2a-large add-item-button"

  

- else
  = render :partial => 'landing_page/section_marketing'
