.width-100.accent_color
  .navigation
    .container
      .navbar{ "role" => "navigation"}
        .navbar-header
          %button{ :class => "navbar-toggle btn btn-warning", :data => { :toggle => 'collapse', :target => '#collapsed-header' } }
            %span{ :class => 'ss-icon header-icons' }
              &#x2026;

          // Possibly move brand link to if signed in, go to account page and if not, go to root path
          = link_to "Incense", root_path, :class => "navbar-brand"
        - if user_signed_in?
          .collapse.navbar-collapse#collapsed-header
            %ul{ :class => "nav navbar-nav navbar-right" }
              %li
                = link_to root_path, method: "get" do
                  %span{ :class => 'ss-icon header-icons' }
                    &#x2302;
                  Dashboard
              %li
                = link_to "#", method: "get" do
                  %span{ :class => 'ss-icon header-icons' }
                    &#x1F4CA;
                  Stats
              %li
                = link_to account_path, method: "get" do
                  %span{ :class => 'ss-icon header-icons' }
                    &#x1F464;
                  Account
              %li
                = link_to "Logout", logout_path, method: "delete", :class => "btn btn-warning"
        - else
          .collapse.navbar-collapse#collapsed-header
            %ul{ :class => "nav navbar-nav" }
              %li
                = link_to "About", "#"
            %ul{ :class => "nav navbar-nav navbar-right" }
              %li
                = link_to "Sign In", new_user_session_path
              %li
                = link_to "Sign Up", signup_path, :class => "btn btn-warning"