!!!
%html
  %head
    %title
      = (yield :title).present? ? "#{yield :title} | Incense" : "Incense" 
    = favicon_link_tag "favicon.ico"
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true 
    = csrf_meta_tags 
    %meta{'http-equiv' => 'Content-Language', :content => 'en'}

  %body{ :class => "#{yield :body_class}" }
    = render 'layouts/header'
    = yield 

